{
 "root": true,
 "env": {
  "es6": true,
  "node": true,
  "browser": true
 },
 "extends": [ "airbnb", "plugin:import/warnings" ],
 "parserOptions": {
  "ecmaVersion": 6,
  "sourceType": "module",
  "ecmaFeatures": {
   "jsx": true,
   "experimentalObjectRestSpread": true
  }
 },
 "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": [1, "only-multiline"],
    "react/forbid-prop-types": [1],
    "no-unused-vars": [1]
  }
}